body {
    font-family: 'Baskerville', serif;
    background-color: #fdfdfd;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #3e3e3e;
    font-weight: bold;
}


main {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #fdfdfd, #e0d5cc);
}

.skills-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #f7f3f0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.skills-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-icon {
    font-size: 3em;
    margin-bottom: 15px;
    color: #8D6E63; 
}

.skills-details h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.skills-details p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #555;
}

/* Skill Bar */
.skill-bar {
    background: #e0d5cc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.skill-level {
    height: 100%;
    background: #8D6E63; 
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

footer {
    background-color: #fff;
    color: ##3e3e3e;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
